In [1]:
import numpy as np
import pandas as pd
# import seaborn as sns
# import matplotlib.pyplot as plt



# from sklearn.linear_model import LinearRegression
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split



iris = pd.read_csv('data/iris.csv')
iris.sample(10)

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
52            6.9          3.1           4.9          1.5  versicolor
144           6.7          3.3           5.7          2.5   virginica
92            5.8          2.6           4.0          1.2  versicolor
135           7.7          3.0           6.1          2.3   virginica
123           6.3          2.7           4.9          1.8   virginica
138           6.0          3.0           4.8          1.8   virginica
64            5.6          2.9           3.6          1.3  versicolor
74            6.4          2.9           4.3          1.3  versicolor
90            5.5          2.6           4.4          1.2  versicolor
148           6.2          3.4           5.4          2.3   virginica

In [2]:
iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [3]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [4]:
iris['Species'].value_counts()

Species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [5]:
# perform label encoding
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
# transform the string labels to integer
iris['Species'] = le.fit_transform(iris['Species'].to_numpy())
iris.sample(10)

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  Species
37            4.9          3.6           1.4          0.1        0
71            6.1          2.8           4.0          1.3        1
82            5.8          2.7           3.9          1.2        1
109           7.2          3.6           6.1          2.5        2
130           7.4          2.8           6.1          1.9        2
26            5.0          3.4           1.6          0.4        0
110           6.5          3.2           5.1          2.0        2
108           6.7          2.5           5.8          1.8        2
30            4.8          3.1           1.6          0.2        0
53            5.5          2.3           4.0          1.3        1

In [6]:
# input data
X = iris.drop(columns=['Species'])
# output data
Y = iris['Species']
X, Y

(     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
 0             5.1          3.5           1.4          0.2
 1             4.9          3.0           1.4          0.2
 2             4.7          3.2           1.3          0.2
 3             4.6          3.1           1.5          0.2
 4             5.0          3.6           1.4          0.2
 ..            ...          ...           ...          ...
 145           6.7          3.0           5.2          2.3
 146           6.3          2.5           5.0          1.9
 147           6.5          3.0           5.2          2.0
 148           6.2          3.4           5.4          2.3
 149           5.9          3.0           5.1          1.8

 [150 rows x 4 columns],
 0      0
 1      0
 2      0
 3      0
 4      0
       ..
 145    2
 146    2
 147    2
 148    2
 149    2
 Name: Species, Length: 150, dtype: int32)